In [62]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.4f}'.format
pd.options.display.max_rows = 500   
pd.options.display.max_columns = 20   
from sklearn.preprocessing import StandardScaler,RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix, precision_score, recall_score, accuracy_score, f1_score

In [85]:
df = pd.read_csv('230102_company3.csv')
df.drop(['기업명','기업구분','Unnamed: 0','추천'], axis=1, inplace=True)
df

     기업구분코드   사원수      업력   입사율(%)   퇴사율(%)   이직율(%)     별점
0    3.0000    52  4.0000 114.7100  64.7100  56.4100 4.3000
1    3.0000   930 17.0000  89.9400  97.8400 108.7800 2.3000
2    3.0000    20 10.0000  40.0000  30.0000  75.0000 3.0000
3    3.0000   140  0.0000 120.0000 100.0000  83.3300 3.3000
4    3.0000     3  6.0000  33.3300   0.0000   0.0000 3.0000
5    3.0000    67 23.0000  42.8600  50.0000 116.6600 2.4000
6    3.0000    80  4.0000 164.2900  84.2900  51.3100 2.3000
7    3.0000    75 12.0000  89.1900  62.1600  69.6900 2.1000
8    3.0000    27 10.0000  11.1100   3.7000  33.3000 4.5000
9    3.0000    39 22.0000  12.5000  25.0000 200.0000 3.3000
10   3.0000    17  4.0000  12.5000  25.0000 200.0000 3.3000
11   3.0000   173  0.0000  46.5300  27.7800  59.7000 2.8000
12   3.0000    17  8.0000  29.4100  29.4100 100.0000 4.1000
13   3.0000    82  0.0000  91.0000  70.0000  76.9200 2.5000
14   3.0000    40 16.0000  28.2100  15.3800  54.5200 3.6000
15   3.0000   115 14.0000  82.8800  82.8800 100.0000 2.2000
16   3.0000    68  0.0000  35.5900  33.9000  95.2500 3.2000
17   3.0000    42  0.0000  20.0000  35.5600 177.8000 2.6000
18   3.0000   177  0.0000  91.2300  35.0900  38.4600 2.4000
19   3.0000    29  0.0000  29.0300  38.7100 133.3400 3.0000
20   3.0000    20  0.0000 146.0000  93.0000  63.7000 1.7000
21   3.0000    33  0.0000  67.7400  64.5200  95.2500 4.6000
22   3.0000    30  0.0000  85.0000  53.0000  62.3500 2.8000
23   3.0000    21  0.0000  44.0000  39.0000  88.6400 1.7000
24   3.0000    93 17.0000  58.1800  52.7300  90.6300 3.2000
25   3.0000    82  6.0000 128.3000 132.0800 102.9500 2.5000
26   3.0000    20 12.0000 128.3000 132.0800 102.9500 1.8000
27   3.0000    28  5.0000  56.7600  40.5400  71.4200 3.3000
28   3.0000   278  7.0000  50.0000  40.5000  81.0000 2.7000
29   3.0000    62  5.0000  78.0000  62.0000  79.4900 2.8000
30   3.0000   104  6.0000 136.3600  93.1800  68.3300 2.6000
31   3.0000    36  0.0000 166.6700  40.0000  24.0000 2.3000
32   3.0000    15  8.0000  66.6700  44.4400  66.6600 1.9000
33   3.0000   229  0.0000  24.8900  19.9100  79.9900 3.2000
34   3.0000    44  0.0000  86.8400  55.2600  63.6300 3.3000
35   3.0000    16  6.0000  30.0000  55.0000 183.3300 3.3000
36   3.0000    42  9.0000  88.5200  80.3300  90.7500 2.9000
37   3.0000    28  0.0000  69.5700  56.5200  81.2400 3.2000
38   3.0000    18  0.0000 400.0000 250.0000  62.5000 4.5000
39   3.0000   235  0.0000  48.1000  35.7100  74.2400 3.3000
40   3.0000    16  0.0000  97.0000  72.0000  74.2300 2.6000
41   3.0000    78  9.0000  43.4200  65.7900 151.5200 2.8000
42   3.0000    54 24.0000 216.6700  83.3300  38.4600 2.4000
43   3.0000    63  0.0000  43.0000  24.0000  55.8100 3.4000
44   3.0000    32  7.0000 176.1900  57.1400  32.4300 2.5000
45   3.0000    26  0.0000  27.5900  44.8300 162.4900 3.0000
46   3.0000    12  0.0000  15.3800  15.3800 100.0000 4.3000
47   3.0000   134  0.0000  81.7200  40.8600  50.0000 3.2000
48   3.0000    11  4.0000 115.3800 161.5400 140.0100 3.5000
49   3.0000   297 13.0000 104.2200  70.0400  67.2000 2.6000
50   3.0000   145 15.0000  46.8100  29.0800  62.1200 2.9000
51   3.0000   133 16.0000  98.0600  65.0500  66.3400 2.4000
52   3.0000    24 13.0000 122.2200  94.4400  77.2700 2.9000
53   3.0000    33 15.0000  33.0000  33.0000 100.0000 2.6000
54   3.0000   635 15.0000  50.7600  61.0100 120.1900 1.8000
55   3.0000    66 10.0000  51.5600  32.8100  63.6300 2.5000
56   3.0000    17 13.0000 366.6700 251.8500  68.6900 3.6000
57   3.0000    56 11.0000  41.4600  31.7100  76.4800 4.1000
58   3.0000    71 14.0000  28.7900  30.3000 105.2400 3.4000
59   3.0000   215 20.0000  26.8900  29.2500 108.7800 2.4000
60   3.0000   110 23.0000  19.0900  20.0000 104.7700 3.0000
61   3.0000   143 14.0000 123.9100  68.4800  55.2700 1.0000
62   3.0000    26  0.0000  31.4300  40.0000 127.2700 3.3000
63   3.0000    13  5.0000  77.7800  33.3300  42.8500 4.3000
64   3.0000    83 12.0000  38.1000  38.1000 100.0000 2.3000
65   3.0000     7  2.0000 316.6700 316.6700 100.0000 2.5000
66   3.0000    99  4.0000 231.2500  95.8300  41.4400 4.0000
67   3.0000    14 16.0000  30.2600  26.3200  86.9800 2.3000
68   3.0000   317 12.0000  89.8600  31.1200  34.6300 3.1000
69   3.0000    35  9.0000  32.0000  23.0000  71.8800 3.3000
70   3.0000    20  0.0000  69.5700  52.1700  74.9900 1.8000
71   3.0000    14  6.0000  38.1000  71.4300 187.4800 2.1000
72   3.0000    23 14.0000  30.7700  42.3100 137.5000 3.0000
73   3.0000    11  7.0000  31.2500  50.0000 160.0000 5.0000
74   3.0000   163 20.0000  41.3300  30.6700  74.2100 2.9000
75   3.0000   222 23.0000  28.8600  22.8200  79.0700 2.1000
76   3.0000    45  4.0000 109.6800  61.2900  55.8800 4.7000
77   3.0000    19 14.0000 166.6700 140.0000  84.0000 1.7000
78   3.0000    66 21.0000  24.6200  32.3100 131.2300 2.9000
79   3.0000   224 18.0000  54.8200  39.0900  71.3100 2.2000
80   3.0000   224  4.0000 141.6000  44.0000  31.0700 3.4000
81   3.0000    95  4.0000  32.1000 129.6300 403.8300 2.4000
82   3.0000    25 19.0000  11.5400  15.3800 133.2800 2.7000
83   3.0000   943 10.0000 137.9600  39.2000  28.4100 2.7000
84   3.0000    63 20.0000  34.3800  39.0600 113.6100 1.9000
85   3.0000    24 20.0000  15.3800  11.5400  75.0300 2.6000
86   3.0000    80 25.0000  27.8500  25.3200  90.9200 3.0000
87   3.0000    20  4.0000  82.3500  52.9400  64.2900 2.0000
88   3.0000   178  6.0000 101.1800  22.4900  22.2300 2.4000
89   3.0000    40 21.0000  35.7100  47.6200 133.3500 2.6000
90   3.0000   261 10.0000  90.3200  58.5300  64.8000 2.5000
91   3.0000    20  5.0000   7.1400  28.5700 400.1400 4.0000
92   3.0000    61 19.0000  60.0000  40.0000  66.6700 2.2000
93   3.0000   162 20.0000  33.1200  16.5600  50.0000 2.5000
94   3.0000    21  4.0000  62.5000  79.1700 126.6700 1.0000
95   3.0000    32  3.0000 183.8700 151.6100  82.4500 1.8000
96   3.0000    18 14.0000  35.0000  60.0000 171.4300 2.7000
97   3.0000    15  3.0000 145.4500 118.1800  81.2500 2.0000
98   3.0000   120  9.0000  91.7800  26.0300  28.3600 2.9000
99   3.0000    77 14.0000  39.1300  15.9400  40.7400 2.9000
100  3.0000    61 20.0000  64.7100  49.0200  75.7500 2.9000
101  3.0000    39  6.0000 103.3300  60.0000  58.0700 3.4000
102  3.0000    60  4.0000  70.9700  85.4800 120.4500 3.9000
103  3.0000    77 22.0000  43.6400  36.3600  83.3200 3.2000
104  3.0000   223 18.0000  22.4800  19.2700  85.7200 2.5000
105  3.0000     2  7.0000  37.5000  19.1700  51.1200 2.8000
106  3.0000    32  8.0000  36.6700  23.3300  63.6200 2.6000
107  3.0000    52 14.0000  40.0000  22.2200  55.5500 3.3000
108  3.0000    85  9.0000  72.5800  77.4200 106.6700 2.0000
109  3.0000    52  7.0000  74.0700  59.2600  80.0100 3.4000
110  3.0000    12 18.0000  12.5000  12.5000 100.0000 2.0000
111  3.0000    50  7.0000  81.4000  79.0700  97.1400 2.7000
112  3.0000    66 23.0000  41.6700  35.0000  83.9900 2.7000
113  3.0000    70  7.0000 108.4700  42.3700  39.0600 4.4000
114  3.0000    26 13.0000  35.1400  37.8400 107.6800 2.5000
115  3.0000   185 19.0000  32.7100  45.7900 139.9900 2.5000
116  3.0000   116 18.0000  30.3600  28.5700  94.1000 3.0000
117  3.0000    45  4.0000 175.8600 127.5900  72.5500 2.7000
118  3.0000     3  6.0000  28.5700  42.8600 150.0200 2.5000
119  3.0000    60 21.0000  43.1000  44.8300 104.0100 3.3000
120  3.0000    60 17.0000  42.8600  20.4100  47.6200 2.7000
121  3.0000    12 20.0000  54.0000  58.0000 107.4100 2.5000
122  2.0000   283 14.0000  27.1800  25.0900  92.3100 2.5000
123  2.0000   739 37.0000   9.6800  11.6100 119.9400 3.3000
124  2.0000   197 22.0000  55.4900  26.0100  46.8700 2.9000
125  2.0000    45 28.0000  27.0000  13.0000  48.1500 2.7000
126  2.0000  9658 21.0000 106.6300  99.0500  92.8900 2.6000
127  2.0000   200 55.0000  44.6900  30.1700  67.5100 2.0000
128  2.0000   321 10.0000  43.5900  27.8400  63.8700 3.3000
129  2.0000   320 28.0000  16.0000  19.0000 118.7500 2.9000
130  2.0000   141 22.0000  37.2400  35.8600  96.2900 2.7000
131  2.0000   900  4.0000 108.8900  32.8900  30.2000 2.7000
132  2.0000   106  1.0000  63.2200  35.6300  56.3600 3.8000
133  2.0000   524 21.0000  57.8900  40.4100  69.8000 2.7000
134  2.0000   219 39.0000  26.8200  20.0000  74.5700 3.0000
135  2.0000   643 30.0000  37.9700  39.5300 104.1100 2.3000
136  2.0000  1431  7.0000  79.0300  64.3400  81.4100 2.5000
137  2.0000    78 19.0000  70.0000  62.5000  89.2900 2.1000
138  2.0000  1274 40.0000  52.7200  39.8300  75.5500 3.1000
139  2.0000   341  8.0000  53.2700  44.1200  82.8200 3.3000
140  2.0000   220 22.0000  46.0500  37.2100  80.8000 3.2000
141  2.0000   755  9.0000  29.7400  29.4800  99.1300 2.4000
142  2.0000    32 24.0000  14.7100  23.5300 159.9600 2.5000
143  2.0000   490  9.0000  23.0000  19.6200  85.3000 2.2000
144  2.0000   791 20.0000  25.7700  17.6000  68.3000 3.3000
145  1.0000  5376 38.0000  11.7100  12.3100 105.1200 4.0000
146  1.0000   333 25.0000  24.5300  19.5700  79.7800 2.9000
147  1.0000   533 22.0000  31.3600  19.4900  62.1500 2.5000
148  1.0000    53  9.0000  25.0000  50.0000 200.0000 2.2000
149  1.0000  1140 21.0000  26.0000  10.0000  38.4600 3.7000
150  1.0000   553 17.0000  19.4000  20.1500 103.8700 2.5000
151  1.0000  6603 35.0000  14.3000  10.8300  75.7300 3.1000
152  1.0000    54  6.0000  31.4800  20.3700  64.7100 3.4000
153  1.0000   217  6.0000  15.9800  26.9400 168.5900 3.0000
154  1.0000   252  2.0000  90.3800  42.2600  46.7600 4.2000
155  1.0000  1169 37.0000  24.6900  30.4900 123.4900 2.7000
156  4.0000  1885 55.0000  20.1800  19.8000  98.1200 2.4000
157  4.0000   117 25.0000  44.8600  38.3200  85.4200 2.7000
158  4.0000    83 24.0000  11.9000  13.1000 110.0800 2.5000
159  4.0000   197 27.0000  40.8000  20.6900  50.7100 2.8000
160  4.0000    78 22.0000  30.7700  32.0500 104.1600 2.5000
161  4.0000   237 26.0000  12.3500  21.8100 176.6000 1.9000
162  4.0000   222 22.0000  18.9400  23.7900 125.6100 2.8000
163  4.0000   242 12.0000  22.0800  30.8300 139.6300 2.2000
164  4.0000   120 23.0000  39.7800  15.0500  37.8300 3.0000
165  4.0000    27 22.0000  28.1300  12.5000  44.4400 2.1000
166  4.0000   131 23.0000   9.1600   6.8700  75.0000 2.8000
167  4.0000   111 19.0000  36.8400  20.0000  54.2900 3.2000
168  4.0000   187 29.0000  48.3100  43.8200  90.7100 3.3000
169  4.0000    36 33.0000   8.8200  23.5300 266.7800 2.2000
170  4.0000   115 27.0000   8.7700   5.2600  59.9800 2.2000
171  4.0000  1686 45.0000   7.2500   8.0000 110.3400 3.7000
172  4.0000   193 25.0000  80.6100  70.9200  87.9800 2.5000
173  4.0000    25  6.0000  42.3100  84.6200 200.0000 3.0000

In [86]:
df['가중치'] = np.nan
df.head(3)

   기업구분코드  사원수      업력   입사율(%)  퇴사율(%)   이직율(%)     별점  가중치
0  3.0000   52  4.0000 114.7100 64.7100  56.4100 4.3000  NaN
1  3.0000  930 17.0000  89.9400 97.8400 108.7800 2.3000  NaN
2  3.0000   20 10.0000  40.0000 30.0000  75.0000 3.0000  NaN

In [87]:
df.describe()

        기업구분코드       사원수       업력   입사율(%)   퇴사율(%)   이직율(%)       별점    가중치
count 174.0000  174.0000 174.0000 174.0000 174.0000 174.0000 174.0000 0.0000
mean    2.8448  304.3046  13.5000  63.3405  48.7091  92.1153   2.8385    NaN
std     0.6835  994.4030  10.9216  59.0275  42.4503  52.9195   0.6817    NaN
min     1.0000    2.0000   0.0000   7.1400   0.0000   0.0000   1.0000    NaN
25%     3.0000   30.5000   5.0000  28.6250  23.5950  63.6225   2.4000    NaN
50%     3.0000   76.0000  12.0000  42.9300  38.2100  81.2450   2.7000    NaN
75%     3.0000  211.2500  21.0000  82.7475  60.0000 105.2100   3.2750    NaN
max     4.0000 9658.0000  55.0000 400.0000 316.6700 403.8300   5.0000    NaN

In [88]:
df['별점'].quantile(.9)

3.7

In [90]:
for idx, rows in df.iterrows():  # 기업 구분 (20%) 사원 수 (10%) 업력 () 이직율(20%) 별점 (50%)
    weight = 0
    print(df.iloc[idx,])
    # 기업구분에 따라서
    if df.iloc[idx,1] == 3.0000:
        weight += 10*0.2
    elif df.iloc[idx,1] == 2.0000:
        weight += 20*0.2
    elif df.iloc[idx,1] == 1.0000:
        weight += 30*0.2
    elif df.iloc[idx,1] == 4.0000:
        weight += 20*0.2
    
    # 사원수에 따라서    
    if df.iloc[idx,2] < 30.50:
        weight += 10*0.1
    elif df.iloc[idx,2] < 76:
        weight += 20*0.1
    elif df.iloc[idx,2] < 211.25:
        weight += 30*0.1
    else:
        weight += 40*0.1
        
#     # 엽력에 따라서   데이터 추가 필요 
#     if df.iloc[idx,3] < 5:
#         weight += 1
#     elif df.iloc[idx,3] < 12:
#         weight += 1.5 
#     elif df.iloc[idx,3] < 21:
#         weight += 2
#     else:
#         weight += 2.5
    
        #이직율에 따라서
    if df.iloc[idx,-3] > 105.21:
        weight += 5*0.2
    elif df.iloc[idx,-3] > 81.2450:
        weight += 10*0.2
    elif df.iloc[idx,-3] > 63.6225:
        weight += 20*0.2
    else:             # 너무 낮은 경우 총 인원수 자체가 작은 경우도 있음. 
        weight += 25*0.2
    
    # 별점에 따라서 
    if df.iloc[idx,-2] <= 1.5:
        weight += 0
    elif df.iloc[idx,-2] <= 2.4:
        weight += 5*0.5        
    elif df.iloc[idx,-2] <= 2.7:
        weight += 10*0.5
    elif df.iloc[idx,-2] <= 3.27:
        weight += 20*0.5
    elif df.iloc[idx,-2] <= 3.7:
        weight += 30*0.5
    else:
        weight += 40*0.5

    
    df.loc[idx, '가중치'] = weight

기업구분코드     3.0000
사원수       52.0000
업력         4.0000
입사율(%)   114.7100
퇴사율(%)    64.7100
이직율(%)    56.4100
별점         4.3000
가중치       26.0000
Name: 0, dtype: float64
기업구분코드     3.0000
사원수      930.0000
업력        17.0000
입사율(%)    89.9400
퇴사율(%)    97.8400
이직율(%)   108.7800
별점         2.3000
가중치        4.5000
Name: 1, dtype: float64
기업구분코드    3.0000
사원수      20.0000
업력       10.0000
입사율(%)   40.0000
퇴사율(%)   30.0000
이직율(%)   75.0000
별점        3.0000
가중치      15.0000
Name: 2, dtype: float64
기업구분코드     3.0000
사원수      140.0000
업력         0.0000
입사율(%)   120.0000
퇴사율(%)   100.0000
이직율(%)    83.3300
별점         3.3000
가중치       18.0000
Name: 3, dtype: float64
기업구분코드    3.0000
사원수       3.0000
업력        6.0000
입사율(%)   33.3300
퇴사율(%)    0.0000
이직율(%)    0.0000
별점        3.0000
가중치      18.0000
Name: 4, dtype: float64
기업구분코드     3.0000
사원수       67.0000
업력        23.0000
입사율(%)    42.8600
퇴사율(%)    50.0000
이직율(%)   116.6600
별점         2.4000
가중치        4.5000
Name: 5, dtype: float64
기업구분코드     3.0000
사원수       80.0000
업력         4.0000
입사율(%)   164.2900
퇴사율(%)    84.2900
이직율(%)    51.3100
별점         2.3000
가중치        8.5000
Name: 6, dtype: float64
기업구분코드    3.0000
사원수      75.0000
업력       12.0000
입사율(%)   89.1900
퇴사율(%)   62.1600
이직율(%)   69.6900
별점        2.1000
가중치       7.5000
Name: 7, dtype: float64
기업구분코드    3.0000
사원수      27.0000
업력       10.0000
입사율(%)   11.1100
퇴사율(%)    3.7000
이직율(%)   33.3000
별점        4.5000
가중치      26.0000
Name: 8, dtype: float64
기업구분코드     3.0000
사원수       39.0000
업력        22.0000
입사율(%)    12.5000
퇴사율(%)    25.0000
이직율(%)   200.0000
별점         3.3000
가중치       17.0000
Name: 9, dtype: float64
기업구분코드     3.0000
사원수       17.0000
업력         4.0000
입사율(%)    12.5000
퇴사율(%)    25.0000
이직율(%)   200.0000
별점         3.3000
가중치       17.0000
Name: 10, dtype: float64
기업구분코드     3.0000
사원수      173.0000
업력         0.0000
입사율(%)    46.5300
퇴사율(%)    27.7800
이직율(%)    59.7000
별점         2.8000
가중치       16.0000
Name: 11, dtype: float64
기업구분코드     3.0000
사원수       17.0000
업력         8.0000
입사율(%)    29.4100
퇴사율(%)    29.4100
이직율(%)   100.0000
별점         4.1000
가중치       23.0000
Name: 12, dtype: float64
기업구분코드    3.0000
사원수      82.0000
업력        0.0000
입사율(%)   91.0000
퇴사율(%)   70.0000
이직율(%)   76.9200
별점        2.5000
가중치      10.0000
Name: 13, dtype: float64
기업구분코드    3.0000
사원수      40.0000
업력       16.0000
입사율(%)   28.2100
퇴사율(%)   15.3800
이직율(%)   54.5200
별점        3.6000
가중치      21.0000
Name: 14, dtype: float64
기업구분코드     3.0000
사원수      115.0000
업력        14.0000
입사율(%)    82.8800
퇴사율(%)    82.8800
이직율(%)   100.0000
별점         2.2000
가중치        5.5000
Name: 15, dtype: float64
기업구분코드    3.0000
사원수      68.0000
업력        0.0000
입사율(%)   35.5900
퇴사율(%)   33.9000
이직율(%)   95.2500
별점        3.2000
가중치      13.0000
Name: 16, dtype: float64
기업구분코드     3.0000
사원수       42.0000
업력         0.0000
입사율(%)    20.0000
퇴사율(%)    35.5600
이직율(%)   177.8000
별점         2.6000
가중치        7.0000
Name: 17, dtype: float64
기업구분코드     3.0000
사원수      177.0000
업력         0.0000
입사율(%)    91.2300
퇴사율(%)    35.0900
이직율(%)    38.4600
별점         2.4000
가중치        8.5000
Name: 18, dtype: float64
기업구분코드     3.0000
사원수       29.0000
업력         0.0000
입사율(%)    29.0300
퇴사율(%)    38.7100
이직율(%)   133.3400
별점         3.0000
가중치       12.0000
Name: 19, dtype: float64
기업구분코드     3.0000
사원수       20.0000
업력         0.0000
입사율(%)   146.0000
퇴사율(%)    93.0000
이직율(%)    63.7000
별점         1.7000
가중치        7.5000
Name: 20, dtype: float64
기업구분코드    3.0000
사원수      33.0000
업력        0.0000
입사율(%)   67.7400
퇴사율(%)   64.5200
이직율(%)   95.2500
별점        4.6000
가중치      23.0000
Name: 21, dtype: float64
기업구분코드    3.0000
사원수      30.0000
업력        0.0000
입사율(%)   85.0000
퇴사율(%)   53.0000
이직율(%)   62.3500
별점        2.8000
가중치      16.0000
Name: 22, dtype: float64
기업구분코드    3.0000
사원수      21.0000
업력        0.0000
입사율(%)   44.0000
퇴사율(%)   39.0000
이직율(%)   88.6400
별점        1.7000
가중치       5.5000
Name: 23, dtype: float64
기업구분코드    3.0000
사원수      93.0000
업력       17.0000
입사율(%)   58.1800
퇴사율(%)   52.7300
이직율(%)   90.6300
별점        3.2000
가중치      13.0000
Name: 24, dtype: float64
기업구분코드     3.0000
사원수       82.0000
업력         6.0000
입사율(%)   128.3000
퇴사율(%)   132.0800
이직율(%)   102.9500
별점         2.5000
가중치        8.0000
Name: 25, dtype: float64
기업구분코드     3.0000
사원수       20.0000
업력        12.0000
입사율(%)   128.3000
퇴사율(%)   132.0800
이직율(%)   102.9500
별점         1.8000
가중치        5.5000
Name: 26, dtype: float64
기업구분코드    3.0000
사원수      28.0000
업력        5.0000
입사율(%)   56.7600
퇴사율(%)   40.5400
이직율(%)   71.4200
별점        3.3000
가중치      20.0000
Name: 27, dtype: float64
기업구분코드     3.0000
사원수      278.0000
업력         7.0000
입사율(%)    50.0000
퇴사율(%)    40.5000
이직율(%)    81.0000
별점         2.7000
가중치       10.0000
Name: 28, dtype: float64
기업구분코드    3.0000
사원수      62.0000
업력        5.0000
입사율(%)   78.0000
퇴사율(%)   62.0000
이직율(%)   79.4900
별점        2.8000
가중치      15.0000
Name: 29, dtype: float64
기업구분코드     3.0000
사원수      104.0000
업력         6.0000
입사율(%)   136.3600
퇴사율(%)    93.1800
이직율(%)    68.3300
별점         2.6000
가중치       10.0000
Name: 30, dtype: float64
기업구분코드     3.0000
사원수       36.0000
업력         0.0000
입사율(%)   166.6700
퇴사율(%)    40.0000
이직율(%)    24.0000
별점         2.3000
가중치        8.5000
Name: 31, dtype: float64
기업구분코드    3.0000
사원수      15.0000
업력        8.0000
입사율(%)   66.6700
퇴사율(%)   44.4400
이직율(%)   66.6600
별점        1.9000
가중치       7.5000
Name: 32, dtype: float64
기업구분코드     3.0000
사원수      229.0000
업력         0.0000
입사율(%)    24.8900
퇴사율(%)    19.9100
이직율(%)    79.9900
별점         3.2000
가중치       15.0000
Name: 33, dtype: float64
기업구분코드    3.0000
사원수      44.0000
업력        0.0000
입사율(%)   86.8400
퇴사율(%)   55.2600
이직율(%)   63.6300
별점        3.3000
가중치      20.0000
Name: 34, dtype: float64
기업구분코드     3.0000
사원수       16.0000
업력         6.0000
입사율(%)    30.0000
퇴사율(%)    55.0000
이직율(%)   183.3300
별점         3.3000
가중치       17.0000
Name: 35, dtype: float64
기업구분코드    3.0000
사원수      42.0000
업력        9.0000
입사율(%)   88.5200
퇴사율(%)   80.3300
이직율(%)   90.7500
별점        2.9000
가중치      13.0000
Name: 36, dtype: float64
기업구분코드    3.0000
사원수      28.0000
업력        0.0000
입사율(%)   69.5700
퇴사율(%)   56.5200
이직율(%)   81.2400
별점        3.2000
가중치      15.0000
Name: 37, dtype: float64
기업구분코드     3.0000
사원수       18.0000
업력         0.0000
입사율(%)   400.0000
퇴사율(%)   250.0000
이직율(%)    62.5000
별점         4.5000
가중치       26.0000
Name: 38, dtype: float64
기업구분코드     3.0000
사원수      235.0000
업력         0.0000
입사율(%)    48.1000
퇴사율(%)    35.7100
이직율(%)    74.2400
별점         3.3000
가중치       20.0000
Name: 39, dtype: float64
기업구분코드    3.0000
사원수      16.0000
업력        0.0000
입사율(%)   97.0000
퇴사율(%)   72.0000
이직율(%)   74.2300
별점        2.6000
가중치      10.0000
Name: 40, dtype: float64
기업구분코드     3.0000
사원수       78.0000
업력         9.0000
입사율(%)    43.4200
퇴사율(%)    65.7900
이직율(%)   151.5200
별점         2.8000
가중치       12.0000
Name: 41, dtype: float64
기업구분코드     3.0000
사원수       54.0000
업력        24.0000
입사율(%)   216.6700
퇴사율(%)    83.3300
이직율(%)    38.4600
별점         2.4000
가중치        8.5000
Name: 42, dtype: float64
기업구분코드    3.0000
사원수      63.0000
업력        0.0000
입사율(%)   43.0000
퇴사율(%)   24.0000
이직율(%)   55.8100
별점        3.4000
가중치      21.0000
Name: 43, dtype: float64
기업구분코드     3.0000
사원수       32.0000
업력         7.0000
입사율(%)   176.1900
퇴사율(%)    57.1400
이직율(%)    32.4300
별점         2.5000
가중치       11.0000
Name: 44, dtype: float64
기업구분코드     3.0000
사원수       26.0000
업력         0.0000
입사율(%)    27.5900
퇴사율(%)    44.8300
이직율(%)   162.4900
별점         3.0000
가중치       12.0000
Name: 45, dtype: float64
기업구분코드     3.0000
사원수       12.0000
업력         0.0000
입사율(%)    15.3800
퇴사율(%)    15.3800
이직율(%)   100.0000
별점         4.3000
가중치       23.0000
Name: 46, dtype: float64
기업구분코드     3.0000
사원수      134.0000
업력         0.0000
입사율(%)    81.7200
퇴사율(%)    40.8600
이직율(%)    50.0000
별점         3.2000
가중치       16.0000
Name: 47, dtype: float64
기업구분코드     3.0000
사원수       11.0000
업력         4.0000
입사율(%)   115.3800
퇴사율(%)   161.5400
이직율(%)   140.0100
별점         3.5000
가중치       17.0000
Name: 48, dtype: float64
기업구분코드     3.0000
사원수      297.0000
업력        13.0000
입사율(%)   104.2200
퇴사율(%)    70.0400
이직율(%)    67.2000
별점         2.6000
가중치       10.0000
Name: 49, dtype: float64
기업구분코드     3.0000
사원수      145.0000
업력        15.0000
입사율(%)    46.8100
퇴사율(%)    29.0800
이직율(%)    62.1200
별점         2.9000
가중치       16.0000
Name: 50, dtype: float64
기업구분코드     3.0000
사원수      133.0000
업력        16.0000
입사율(%)    98.0600
퇴사율(%)    65.0500
이직율(%)    66.3400
별점         2.4000
가중치        7.5000
Name: 51, dtype: float64
기업구분코드     3.0000
사원수       24.0000
업력        13.0000
입사율(%)   122.2200
퇴사율(%)    94.4400
이직율(%)    77.2700
별점         2.9000
가중치       15.0000
Name: 52, dtype: float64
기업구분코드     3.0000
사원수       33.0000
업력        15.0000
입사율(%)    33.0000
퇴사율(%)    33.0000
이직율(%)   100.0000
별점         2.6000
가중치        8.0000
Name: 53, dtype: float64
기업구분코드     3.0000
사원수      635.0000
업력        15.0000
입사율(%)    50.7600
퇴사율(%)    61.0100
이직율(%)   120.1900
별점         1.8000
가중치        4.5000
Name: 54, dtype: float64
기업구분코드    3.0000
사원수      66.0000
업력       10.0000
입사율(%)   51.5600
퇴사율(%)   32.8100
이직율(%)   63.6300
별점        2.5000
가중치      10.0000
Name: 55, dtype: float64
기업구분코드     3.0000
사원수       17.0000
업력        13.0000
입사율(%)   366.6700
퇴사율(%)   251.8500
이직율(%)    68.6900
별점         3.6000
가중치       20.0000
Name: 56, dtype: float64
기업구분코드    3.0000
사원수      56.0000
업력       11.0000
입사율(%)   41.4600
퇴사율(%)   31.7100
이직율(%)   76.4800
별점        4.1000
가중치      25.0000
Name: 57, dtype: float64
기업구분코드     3.0000
사원수       71.0000
업력        14.0000
입사율(%)    28.7900
퇴사율(%)    30.3000
이직율(%)   105.2400
별점         3.4000
가중치       17.0000
Name: 58, dtype: float64
기업구분코드     3.0000
사원수      215.0000
업력        20.0000
입사율(%)    26.8900
퇴사율(%)    29.2500
이직율(%)   108.7800
별점         2.4000
가중치        4.5000
Name: 59, dtype: float64
기업구분코드     3.0000
사원수      110.0000
업력        23.0000
입사율(%)    19.0900
퇴사율(%)    20.0000
이직율(%)   104.7700
별점         3.0000
가중치       13.0000
Name: 60, dtype: float64
기업구분코드     3.0000
사원수      143.0000
업력        14.0000
입사율(%)   123.9100
퇴사율(%)    68.4800
이직율(%)    55.2700
별점         1.0000
가중치        8.5000
Name: 61, dtype: float64
기업구분코드     3.0000
사원수       26.0000
업력         0.0000
입사율(%)    31.4300
퇴사율(%)    40.0000
이직율(%)   127.2700
별점         3.3000
가중치       17.0000
Name: 62, dtype: float64
기업구분코드    3.0000
사원수      13.0000
업력        5.0000
입사율(%)   77.7800
퇴사율(%)   33.3300
이직율(%)   42.8500
별점        4.3000
가중치      26.0000
Name: 63, dtype: float64
기업구분코드     3.0000
사원수       83.0000
업력        12.0000
입사율(%)    38.1000
퇴사율(%)    38.1000
이직율(%)   100.0000
별점         2.3000
가중치        5.5000
Name: 64, dtype: float64
기업구분코드     3.0000
사원수        7.0000
업력         2.0000
입사율(%)   316.6700
퇴사율(%)   316.6700
이직율(%)   100.0000
별점         2.5000
가중치        8.0000
Name: 65, dtype: float64
기업구분코드     3.0000
사원수       99.0000
업력         4.0000
입사율(%)   231.2500
퇴사율(%)    95.8300
이직율(%)    41.4400
별점         4.0000
가중치       26.0000
Name: 66, dtype: float64
기업구분코드    3.0000
사원수      14.0000
업력       16.0000
입사율(%)   30.2600
퇴사율(%)   26.3200
이직율(%)   86.9800
별점        2.3000
가중치       5.5000
Name: 67, dtype: float64
기업구분코드     3.0000
사원수      317.0000
업력        12.0000
입사율(%)    89.8600
퇴사율(%)    31.1200
이직율(%)    34.6300
별점         3.1000
가중치       16.0000
Name: 68, dtype: float64
기업구분코드    3.0000
사원수      35.0000
업력        9.0000
입사율(%)   32.0000
퇴사율(%)   23.0000
이직율(%)   71.8800
별점        3.3000
가중치      20.0000
Name: 69, dtype: float64
기업구분코드    3.0000
사원수      20.0000
업력        0.0000
입사율(%)   69.5700
퇴사율(%)   52.1700
이직율(%)   74.9900
별점        1.8000
가중치       7.5000
Name: 70, dtype: float64
기업구분코드     3.0000
사원수       14.0000
업력         6.0000
입사율(%)    38.1000
퇴사율(%)    71.4300
이직율(%)   187.4800
별점         2.1000
가중치        4.5000
Name: 71, dtype: float64
기업구분코드     3.0000
사원수       23.0000
업력        14.0000
입사율(%)    30.7700
퇴사율(%)    42.3100
이직율(%)   137.5000
별점         3.0000
가중치       12.0000
Name: 72, dtype: float64
기업구분코드     3.0000
사원수       11.0000
업력         7.0000
입사율(%)    31.2500
퇴사율(%)    50.0000
이직율(%)   160.0000
별점         5.0000
가중치       22.0000
Name: 73, dtype: float64
기업구분코드     3.0000
사원수      163.0000
업력        20.0000
입사율(%)    41.3300
퇴사율(%)    30.6700
이직율(%)    74.2100
별점         2.9000
가중치       15.0000
Name: 74, dtype: float64
기업구분코드     3.0000
사원수      222.0000
업력        23.0000
입사율(%)    28.8600
퇴사율(%)    22.8200
이직율(%)    79.0700
별점         2.1000
가중치        7.5000
Name: 75, dtype: float64
기업구분코드     3.0000
사원수       45.0000
업력         4.0000
입사율(%)   109.6800
퇴사율(%)    61.2900
이직율(%)    55.8800
별점         4.7000
가중치       26.0000
Name: 76, dtype: float64
기업구분코드     3.0000
사원수       19.0000
업력        14.0000
입사율(%)   166.6700
퇴사율(%)   140.0000
이직율(%)    84.0000
별점         1.7000
가중치        5.5000
Name: 77, dtype: float64
기업구분코드     3.0000
사원수       66.0000
업력        21.0000
입사율(%)    24.6200
퇴사율(%)    32.3100
이직율(%)   131.2300
별점         2.9000
가중치       12.0000
Name: 78, dtype: float64
기업구분코드     3.0000
사원수      224.0000
업력        18.0000
입사율(%)    54.8200
퇴사율(%)    39.0900
이직율(%)    71.3100
별점         2.2000
가중치        7.5000
Name: 79, dtype: float64
기업구분코드     3.0000
사원수      224.0000
업력         4.0000
입사율(%)   141.6000
퇴사율(%)    44.0000
이직율(%)    31.0700
별점         3.4000
가중치       21.0000
Name: 80, dtype: float64
기업구분코드     3.0000
사원수       95.0000
업력         4.0000
입사율(%)    32.1000
퇴사율(%)   129.6300
이직율(%)   403.8300
별점         2.4000
가중치        4.5000
Name: 81, dtype: float64
기업구분코드     3.0000
사원수       25.0000
업력        19.0000
입사율(%)    11.5400
퇴사율(%)    15.3800
이직율(%)   133.2800
별점         2.7000
가중치        7.0000
Name: 82, dtype: float64
기업구분코드     3.0000
사원수      943.0000
업력        10.0000
입사율(%)   137.9600
퇴사율(%)    39.2000
이직율(%)    28.4100
별점         2.7000
가중치       11.0000
Name: 83, dtype: float64
기업구분코드     3.0000
사원수       63.0000
업력        20.0000
입사율(%)    34.3800
퇴사율(%)    39.0600
이직율(%)   113.6100
별점         1.9000
가중치        4.5000
Name: 84, dtype: float64
기업구분코드    3.0000
사원수      24.0000
업력       20.0000
입사율(%)   15.3800
퇴사율(%)   11.5400
이직율(%)   75.0300
별점        2.6000
가중치      10.0000
Name: 85, dtype: float64
기업구분코드    3.0000
사원수      80.0000
업력       25.0000
입사율(%)   27.8500
퇴사율(%)   25.3200
이직율(%)   90.9200
별점        3.0000
가중치      13.0000
Name: 86, dtype: float64
기업구분코드    3.0000
사원수      20.0000
업력        4.0000
입사율(%)   82.3500
퇴사율(%)   52.9400
이직율(%)   64.2900
별점        2.0000
가중치       7.5000
Name: 87, dtype: float64
기업구분코드     3.0000
사원수      178.0000
업력         6.0000
입사율(%)   101.1800
퇴사율(%)    22.4900
이직율(%)    22.2300
별점         2.4000
가중치        8.5000
Name: 88, dtype: float64
기업구분코드     3.0000
사원수       40.0000
업력        21.0000
입사율(%)    35.7100
퇴사율(%)    47.6200
이직율(%)   133.3500
별점         2.6000
가중치        7.0000
Name: 89, dtype: float64
기업구분코드     3.0000
사원수      261.0000
업력        10.0000
입사율(%)    90.3200
퇴사율(%)    58.5300
이직율(%)    64.8000
별점         2.5000
가중치       10.0000
Name: 90, dtype: float64
기업구분코드     3.0000
사원수       20.0000
업력         5.0000
입사율(%)     7.1400
퇴사율(%)    28.5700
이직율(%)   400.1400
별점         4.0000
가중치       22.0000
Name: 91, dtype: float64
기업구분코드    3.0000
사원수      61.0000
업력       19.0000
입사율(%)   60.0000
퇴사율(%)   40.0000
이직율(%)   66.6700
별점        2.2000
가중치       7.5000
Name: 92, dtype: float64
기업구분코드     3.0000
사원수      162.0000
업력        20.0000
입사율(%)    33.1200
퇴사율(%)    16.5600
이직율(%)    50.0000
별점         2.5000
가중치       11.0000
Name: 93, dtype: float64
기업구분코드     3.0000
사원수       21.0000
업력         4.0000
입사율(%)    62.5000
퇴사율(%)    79.1700
이직율(%)   126.6700
별점         1.0000
가중치        4.5000
Name: 94, dtype: float64
기업구분코드     3.0000
사원수       32.0000
업력         3.0000
입사율(%)   183.8700
퇴사율(%)   151.6100
이직율(%)    82.4500
별점         1.8000
가중치        5.5000
Name: 95, dtype: float64
기업구분코드     3.0000
사원수       18.0000
업력        14.0000
입사율(%)    35.0000
퇴사율(%)    60.0000
이직율(%)   171.4300
별점         2.7000
가중치        7.0000
Name: 96, dtype: float64
기업구분코드     3.0000
사원수       15.0000
업력         3.0000
입사율(%)   145.4500
퇴사율(%)   118.1800
이직율(%)    81.2500
별점         2.0000
가중치        5.5000
Name: 97, dtype: float64
기업구분코드     3.0000
사원수      120.0000
업력         9.0000
입사율(%)    91.7800
퇴사율(%)    26.0300
이직율(%)    28.3600
별점         2.9000
가중치       16.0000
Name: 98, dtype: float64
기업구분코드    3.0000
사원수      77.0000
업력       14.0000
입사율(%)   39.1300
퇴사율(%)   15.9400
이직율(%)   40.7400
별점        2.9000
가중치      16.0000
Name: 99, dtype: float64
기업구분코드    3.0000
사원수      61.0000
업력       20.0000
입사율(%)   64.7100
퇴사율(%)   49.0200
이직율(%)   75.7500
별점        2.9000
가중치      15.0000
Name: 100, dtype: float64
기업구분코드     3.0000
사원수       39.0000
업력         6.0000
입사율(%)   103.3300
퇴사율(%)    60.0000
이직율(%)    58.0700
별점         3.4000
가중치       21.0000
Name: 101, dtype: float64
기업구분코드     3.0000
사원수       60.0000
업력         4.0000
입사율(%)    70.9700
퇴사율(%)    85.4800
이직율(%)   120.4500
별점         3.9000
가중치       22.0000
Name: 102, dtype: float64
기업구분코드    3.0000
사원수      77.0000
업력       22.0000
입사율(%)   43.6400
퇴사율(%)   36.3600
이직율(%)   83.3200
별점        3.2000
가중치      13.0000
Name: 103, dtype: float64
기업구분코드     3.0000
사원수      223.0000
업력        18.0000
입사율(%)    22.4800
퇴사율(%)    19.2700
이직율(%)    85.7200
별점         2.5000
가중치        8.0000
Name: 104, dtype: float64
기업구분코드    3.0000
사원수       2.0000
업력        7.0000
입사율(%)   37.5000
퇴사율(%)   19.1700
이직율(%)   51.1200
별점        2.8000
가중치      20.0000
Name: 105, dtype: float64
기업구분코드    3.0000
사원수      32.0000
업력        8.0000
입사율(%)   36.6700
퇴사율(%)   23.3300
이직율(%)   63.6200
별점        2.6000
가중치      11.0000
Name: 106, dtype: float64
기업구분코드    3.0000
사원수      52.0000
업력       14.0000
입사율(%)   40.0000
퇴사율(%)   22.2200
이직율(%)   55.5500
별점        3.3000
가중치      21.0000
Name: 107, dtype: float64
기업구분코드     3.0000
사원수       85.0000
업력         9.0000
입사율(%)    72.5800
퇴사율(%)    77.4200
이직율(%)   106.6700
별점         2.0000
가중치        4.5000
Name: 108, dtype: float64
기업구분코드    3.0000
사원수      52.0000
업력        7.0000
입사율(%)   74.0700
퇴사율(%)   59.2600
이직율(%)   80.0100
별점        3.4000
가중치      20.0000
Name: 109, dtype: float64
기업구분코드     3.0000
사원수       12.0000
업력        18.0000
입사율(%)    12.5000
퇴사율(%)    12.5000
이직율(%)   100.0000
별점         2.0000
가중치        5.5000
Name: 110, dtype: float64
기업구분코드    3.0000
사원수      50.0000
업력        7.0000
입사율(%)   81.4000
퇴사율(%)   79.0700
이직율(%)   97.1400
별점        2.7000
가중치       8.0000
Name: 111, dtype: float64
기업구분코드    3.0000
사원수      66.0000
업력       23.0000
입사율(%)   41.6700
퇴사율(%)   35.0000
이직율(%)   83.9900
별점        2.7000
가중치       8.0000
Name: 112, dtype: float64
기업구분코드     3.0000
사원수       70.0000
업력         7.0000
입사율(%)   108.4700
퇴사율(%)    42.3700
이직율(%)    39.0600
별점         4.4000
가중치       26.0000
Name: 113, dtype: float64
기업구분코드     3.0000
사원수       26.0000
업력        13.0000
입사율(%)    35.1400
퇴사율(%)    37.8400
이직율(%)   107.6800
별점         2.5000
가중치        7.0000
Name: 114, dtype: float64
기업구분코드     3.0000
사원수      185.0000
업력        19.0000
입사율(%)    32.7100
퇴사율(%)    45.7900
이직율(%)   139.9900
별점         2.5000
가중치        7.0000
Name: 115, dtype: float64
기업구분코드     3.0000
사원수      116.0000
업력        18.0000
입사율(%)    30.3600
퇴사율(%)    28.5700
이직율(%)    94.1000
별점         3.0000
가중치       13.0000
Name: 116, dtype: float64
기업구분코드     3.0000
사원수       45.0000
업력         4.0000
입사율(%)   175.8600
퇴사율(%)   127.5900
이직율(%)    72.5500
별점         2.7000
가중치       10.0000
Name: 117, dtype: float64
기업구분코드     3.0000
사원수        3.0000
업력         6.0000
입사율(%)    28.5700
퇴사율(%)    42.8600
이직율(%)   150.0200
별점         2.5000
가중치        9.0000
Name: 118, dtype: float64
기업구분코드     3.0000
사원수       60.0000
업력        21.0000
입사율(%)    43.1000
퇴사율(%)    44.8300
이직율(%)   104.0100
별점         3.3000
가중치       18.0000
Name: 119, dtype: float64

In [91]:
df.describe()

        기업구분코드       사원수       업력   입사율(%)   퇴사율(%)   이직율(%)       별점      가중치
count 174.0000  174.0000 174.0000 174.0000 174.0000 174.0000 174.0000 174.0000
mean    2.8448  304.3046  13.5000  63.3405  48.7091  92.1153   2.8385  12.6810
std     0.6835  994.4030  10.9216  59.0275  42.4503  52.9195   0.6817   6.1857
min     1.0000    2.0000   0.0000   7.1400   0.0000   0.0000   1.0000   4.5000
25%     3.0000   30.5000   5.0000  28.6250  23.5950  63.6225   2.4000   7.5000
50%     3.0000   76.0000  12.0000  42.9300  38.2100  81.2450   2.7000  11.0000
75%     3.0000  211.2500  21.0000  82.7475  60.0000 105.2100   3.2750  17.0000
max     4.0000 9658.0000  55.0000 400.0000 316.6700 403.8300   5.0000  26.0000

In [93]:
df['가중치'].quantile(.6)

14.599999999999994

In [94]:
df['추천'] = np.nan
df.head()

   기업구분코드  사원수      업력   입사율(%)   퇴사율(%)   이직율(%)     별점     가중치  추천
0  3.0000   52  4.0000 114.7100  64.7100  56.4100 4.3000 26.0000 NaN
1  3.0000  930 17.0000  89.9400  97.8400 108.7800 2.3000  4.5000 NaN
2  3.0000   20 10.0000  40.0000  30.0000  75.0000 3.0000 15.0000 NaN
3  3.0000  140  0.0000 120.0000 100.0000  83.3300 3.3000 18.0000 NaN
4  3.0000    3  6.0000  33.3300   0.0000   0.0000 3.0000 18.0000 NaN

In [95]:
for idx, rows in df.iterrows():
    if df.iloc[idx,-2] >= 15:
        df.iloc[idx,-1] = 1
    else:
        df.iloc[idx,-1] = 0

In [96]:
df

     기업구분코드   사원수      업력   입사율(%)   퇴사율(%)   이직율(%)     별점     가중치     추천
0    3.0000    52  4.0000 114.7100  64.7100  56.4100 4.3000 26.0000 1.0000
1    3.0000   930 17.0000  89.9400  97.8400 108.7800 2.3000  4.5000 0.0000
2    3.0000    20 10.0000  40.0000  30.0000  75.0000 3.0000 15.0000 1.0000
3    3.0000   140  0.0000 120.0000 100.0000  83.3300 3.3000 18.0000 1.0000
4    3.0000     3  6.0000  33.3300   0.0000   0.0000 3.0000 18.0000 1.0000
5    3.0000    67 23.0000  42.8600  50.0000 116.6600 2.4000  4.5000 0.0000
6    3.0000    80  4.0000 164.2900  84.2900  51.3100 2.3000  8.5000 0.0000
7    3.0000    75 12.0000  89.1900  62.1600  69.6900 2.1000  7.5000 0.0000
8    3.0000    27 10.0000  11.1100   3.7000  33.3000 4.5000 26.0000 1.0000
9    3.0000    39 22.0000  12.5000  25.0000 200.0000 3.3000 17.0000 1.0000
10   3.0000    17  4.0000  12.5000  25.0000 200.0000 3.3000 17.0000 1.0000
11   3.0000   173  0.0000  46.5300  27.7800  59.7000 2.8000 16.0000 1.0000
12   3.0000    17  8.0000  29.4100  29.4100 100.0000 4.1000 23.0000 1.0000
13   3.0000    82  0.0000  91.0000  70.0000  76.9200 2.5000 10.0000 0.0000
14   3.0000    40 16.0000  28.2100  15.3800  54.5200 3.6000 21.0000 1.0000
15   3.0000   115 14.0000  82.8800  82.8800 100.0000 2.2000  5.5000 0.0000
16   3.0000    68  0.0000  35.5900  33.9000  95.2500 3.2000 13.0000 0.0000
17   3.0000    42  0.0000  20.0000  35.5600 177.8000 2.6000  7.0000 0.0000
18   3.0000   177  0.0000  91.2300  35.0900  38.4600 2.4000  8.5000 0.0000
19   3.0000    29  0.0000  29.0300  38.7100 133.3400 3.0000 12.0000 0.0000
20   3.0000    20  0.0000 146.0000  93.0000  63.7000 1.7000  7.5000 0.0000
21   3.0000    33  0.0000  67.7400  64.5200  95.2500 4.6000 23.0000 1.0000
22   3.0000    30  0.0000  85.0000  53.0000  62.3500 2.8000 16.0000 1.0000
23   3.0000    21  0.0000  44.0000  39.0000  88.6400 1.7000  5.5000 0.0000
24   3.0000    93 17.0000  58.1800  52.7300  90.6300 3.2000 13.0000 0.0000
25   3.0000    82  6.0000 128.3000 132.0800 102.9500 2.5000  8.0000 0.0000
26   3.0000    20 12.0000 128.3000 132.0800 102.9500 1.8000  5.5000 0.0000
27   3.0000    28  5.0000  56.7600  40.5400  71.4200 3.3000 20.0000 1.0000
28   3.0000   278  7.0000  50.0000  40.5000  81.0000 2.7000 10.0000 0.0000
29   3.0000    62  5.0000  78.0000  62.0000  79.4900 2.8000 15.0000 1.0000
30   3.0000   104  6.0000 136.3600  93.1800  68.3300 2.6000 10.0000 0.0000
31   3.0000    36  0.0000 166.6700  40.0000  24.0000 2.3000  8.5000 0.0000
32   3.0000    15  8.0000  66.6700  44.4400  66.6600 1.9000  7.5000 0.0000
33   3.0000   229  0.0000  24.8900  19.9100  79.9900 3.2000 15.0000 1.0000
34   3.0000    44  0.0000  86.8400  55.2600  63.6300 3.3000 20.0000 1.0000
35   3.0000    16  6.0000  30.0000  55.0000 183.3300 3.3000 17.0000 1.0000
36   3.0000    42  9.0000  88.5200  80.3300  90.7500 2.9000 13.0000 0.0000
37   3.0000    28  0.0000  69.5700  56.5200  81.2400 3.2000 15.0000 1.0000
38   3.0000    18  0.0000 400.0000 250.0000  62.5000 4.5000 26.0000 1.0000
39   3.0000   235  0.0000  48.1000  35.7100  74.2400 3.3000 20.0000 1.0000
40   3.0000    16  0.0000  97.0000  72.0000  74.2300 2.6000 10.0000 0.0000
41   3.0000    78  9.0000  43.4200  65.7900 151.5200 2.8000 12.0000 0.0000
42   3.0000    54 24.0000 216.6700  83.3300  38.4600 2.4000  8.5000 0.0000
43   3.0000    63  0.0000  43.0000  24.0000  55.8100 3.4000 21.0000 1.0000
44   3.0000    32  7.0000 176.1900  57.1400  32.4300 2.5000 11.0000 0.0000
45   3.0000    26  0.0000  27.5900  44.8300 162.4900 3.0000 12.0000 0.0000
46   3.0000    12  0.0000  15.3800  15.3800 100.0000 4.3000 23.0000 1.0000
47   3.0000   134  0.0000  81.7200  40.8600  50.0000 3.2000 16.0000 1.0000
48   3.0000    11  4.0000 115.3800 161.5400 140.0100 3.5000 17.0000 1.0000
49   3.0000   297 13.0000 104.2200  70.0400  67.2000 2.6000 10.0000 0.0000
50   3.0000   145 15.0000  46.8100  29.0800  62.1200 2.9000 16.0000 1.0000
51   3.0000   133 16.0000  98.0600  65.0500  66.3400 2.4000  7.5000 0.0000
52   3.0000    24 13.0000 122.2200  94.4400  77.2700 2.9000 15.0000 1.0000
53   3.0000    33 15.0000  33.0000  33.0000 100.0000 2.6000  8.0000 0.0000
54   3.0000   635 15.0000  50.7600  61.0100 120.1900 1.8000  4.5000 0.0000
55   3.0000    66 10.0000  51.5600  32.8100  63.6300 2.5000 10.0000 0.0000
56   3.0000    17 13.0000 366.6700 251.8500  68.6900 3.6000 20.0000 1.0000
57   3.0000    56 11.0000  41.4600  31.7100  76.4800 4.1000 25.0000 1.0000
58   3.0000    71 14.0000  28.7900  30.3000 105.2400 3.4000 17.0000 1.0000
59   3.0000   215 20.0000  26.8900  29.2500 108.7800 2.4000  4.5000 0.0000
60   3.0000   110 23.0000  19.0900  20.0000 104.7700 3.0000 13.0000 0.0000
61   3.0000   143 14.0000 123.9100  68.4800  55.2700 1.0000  8.5000 0.0000
62   3.0000    26  0.0000  31.4300  40.0000 127.2700 3.3000 17.0000 1.0000
63   3.0000    13  5.0000  77.7800  33.3300  42.8500 4.3000 26.0000 1.0000
64   3.0000    83 12.0000  38.1000  38.1000 100.0000 2.3000  5.5000 0.0000
65   3.0000     7  2.0000 316.6700 316.6700 100.0000 2.5000  8.0000 0.0000
66   3.0000    99  4.0000 231.2500  95.8300  41.4400 4.0000 26.0000 1.0000
67   3.0000    14 16.0000  30.2600  26.3200  86.9800 2.3000  5.5000 0.0000
68   3.0000   317 12.0000  89.8600  31.1200  34.6300 3.1000 16.0000 1.0000
69   3.0000    35  9.0000  32.0000  23.0000  71.8800 3.3000 20.0000 1.0000
70   3.0000    20  0.0000  69.5700  52.1700  74.9900 1.8000  7.5000 0.0000
71   3.0000    14  6.0000  38.1000  71.4300 187.4800 2.1000  4.5000 0.0000
72   3.0000    23 14.0000  30.7700  42.3100 137.5000 3.0000 12.0000 0.0000
73   3.0000    11  7.0000  31.2500  50.0000 160.0000 5.0000 22.0000 1.0000
74   3.0000   163 20.0000  41.3300  30.6700  74.2100 2.9000 15.0000 1.0000
75   3.0000   222 23.0000  28.8600  22.8200  79.0700 2.1000  7.5000 0.0000
76   3.0000    45  4.0000 109.6800  61.2900  55.8800 4.7000 26.0000 1.0000
77   3.0000    19 14.0000 166.6700 140.0000  84.0000 1.7000  5.5000 0.0000
78   3.0000    66 21.0000  24.6200  32.3100 131.2300 2.9000 12.0000 0.0000
79   3.0000   224 18.0000  54.8200  39.0900  71.3100 2.2000  7.5000 0.0000
80   3.0000   224  4.0000 141.6000  44.0000  31.0700 3.4000 21.0000 1.0000
81   3.0000    95  4.0000  32.1000 129.6300 403.8300 2.4000  4.5000 0.0000
82   3.0000    25 19.0000  11.5400  15.3800 133.2800 2.7000  7.0000 0.0000
83   3.0000   943 10.0000 137.9600  39.2000  28.4100 2.7000 11.0000 0.0000
84   3.0000    63 20.0000  34.3800  39.0600 113.6100 1.9000  4.5000 0.0000
85   3.0000    24 20.0000  15.3800  11.5400  75.0300 2.6000 10.0000 0.0000
86   3.0000    80 25.0000  27.8500  25.3200  90.9200 3.0000 13.0000 0.0000
87   3.0000    20  4.0000  82.3500  52.9400  64.2900 2.0000  7.5000 0.0000
88   3.0000   178  6.0000 101.1800  22.4900  22.2300 2.4000  8.5000 0.0000
89   3.0000    40 21.0000  35.7100  47.6200 133.3500 2.6000  7.0000 0.0000
90   3.0000   261 10.0000  90.3200  58.5300  64.8000 2.5000 10.0000 0.0000
91   3.0000    20  5.0000   7.1400  28.5700 400.1400 4.0000 22.0000 1.0000
92   3.0000    61 19.0000  60.0000  40.0000  66.6700 2.2000  7.5000 0.0000
93   3.0000   162 20.0000  33.1200  16.5600  50.0000 2.5000 11.0000 0.0000
94   3.0000    21  4.0000  62.5000  79.1700 126.6700 1.0000  4.5000 0.0000
95   3.0000    32  3.0000 183.8700 151.6100  82.4500 1.8000  5.5000 0.0000
96   3.0000    18 14.0000  35.0000  60.0000 171.4300 2.7000  7.0000 0.0000
97   3.0000    15  3.0000 145.4500 118.1800  81.2500 2.0000  5.5000 0.0000
98   3.0000   120  9.0000  91.7800  26.0300  28.3600 2.9000 16.0000 1.0000
99   3.0000    77 14.0000  39.1300  15.9400  40.7400 2.9000 16.0000 1.0000
100  3.0000    61 20.0000  64.7100  49.0200  75.7500 2.9000 15.0000 1.0000
101  3.0000    39  6.0000 103.3300  60.0000  58.0700 3.4000 21.0000 1.0000
102  3.0000    60  4.0000  70.9700  85.4800 120.4500 3.9000 22.0000 1.0000
103  3.0000    77 22.0000  43.6400  36.3600  83.3200 3.2000 13.0000 0.0000
104  3.0000   223 18.0000  22.4800  19.2700  85.7200 2.5000  8.0000 0.0000
105  3.0000     2  7.0000  37.5000  19.1700  51.1200 2.8000 20.0000 1.0000
106  3.0000    32  8.0000  36.6700  23.3300  63.6200 2.6000 11.0000 0.0000
107  3.0000    52 14.0000  40.0000  22.2200  55.5500 3.3000 21.0000 1.0000
108  3.0000    85  9.0000  72.5800  77.4200 106.6700 2.0000  4.5000 0.0000
109  3.0000    52  7.0000  74.0700  59.2600  80.0100 3.4000 20.0000 1.0000
110  3.0000    12 18.0000  12.5000  12.5000 100.0000 2.0000  5.5000 0.0000
111  3.0000    50  7.0000  81.4000  79.0700  97.1400 2.7000  8.0000 0.0000
112  3.0000    66 23.0000  41.6700  35.0000  83.9900 2.7000  8.0000 0.0000
113  3.0000    70  7.0000 108.4700  42.3700  39.0600 4.4000 26.0000 1.0000
114  3.0000    26 13.0000  35.1400  37.8400 107.6800 2.5000  7.0000 0.0000
115  3.0000   185 19.0000  32.7100  45.7900 139.9900 2.5000  7.0000 0.0000
116  3.0000   116 18.0000  30.3600  28.5700  94.1000 3.0000 13.0000 0.0000
117  3.0000    45  4.0000 175.8600 127.5900  72.5500 2.7000 10.0000 0.0000
118  3.0000     3  6.0000  28.5700  42.8600 150.0200 2.5000  9.0000 0.0000
119  3.0000    60 21.0000  43.1000  44.8300 104.0100 3.3000 18.0000 1.0000
120  3.0000    60 17.0000  42.8600  20.4100  47.6200 2.7000 11.0000 0.0000
121  3.0000    12 20.0000  54.0000  58.0000 107.4100 2.5000  7.0000 0.0000
122  2.0000   283 14.0000  27.1800  25.0900  92.3100 2.5000  8.0000 0.0000
123  2.0000   739 37.0000   9.6800  11.6100 119.9400 3.3000 18.0000 1.0000
124  2.0000   197 22.0000  55.4900  26.0100  46.8700 2.9000 16.0000 1.0000
125  2.0000    45 28.0000  27.0000  13.0000  48.1500 2.7000 11.0000 0.0000
126  2.0000  9658 21.0000 106.6300  99.0500  92.8900 2.6000  8.0000 0.0000
127  2.0000   200 55.0000  44.6900  30.1700  67.5100 2.0000  8.5000 0.0000
128  2.0000   321 10.0000  43.5900  27.8400  63.8700 3.3000 20.0000 1.0000
129  2.0000   320 28.0000  16.0000  19.0000 118.7500 2.9000 12.0000 0.0000
130  2.0000   141 22.0000  37.2400  35.8600  96.2900 2.7000  8.0000 0.0000
131  2.0000   900  4.0000 108.8900  32.8900  30.2000 2.7000 11.0000 0.0000
132  2.0000   106  1.0000  63.2200  35.6300  56.3600 3.8000 26.0000 1.0000
133  2.0000   524 21.0000  57.8900  40.4100  69.8000 2.7000 10.0000 0.0000
134  2.0000   219 39.0000  26.8200  20.0000  74.5700 3.0000 16.0000 1.0000
135  2.0000   643 30.0000  37.9700  39.5300 104.1100 2.3000  5.5000 0.0000
136  2.0000  1431  7.0000  79.0300  64.3400  81.4100 2.5000  8.0000 0.0000
137  2.0000    78 19.0000  70.0000  62.5000  89.2900 2.1000  5.5000 0.0000
138  2.0000  1274 40.0000  52.7200  39.8300  75.5500 3.1000 16.0000 1.0000
139  2.0000   341  8.0000  53.2700  44.1200  82.8200 3.3000 18.0000 1.0000
140  2.0000   220 22.0000  46.0500  37.2100  80.8000 3.2000 15.0000 1.0000
141  2.0000   755  9.0000  29.7400  29.4800  99.1300 2.4000  5.5000 0.0000
142  2.0000    32 24.0000  14.7100  23.5300 159.9600 2.5000  7.0000 0.0000
143  2.0000   490  9.0000  23.0000  19.6200  85.3000 2.2000  5.5000 0.0000
144  2.0000   791 20.0000  25.7700  17.6000  68.3000 3.3000 20.0000 1.0000
145  1.0000  5376 38.0000  11.7100  12.3100 105.1200 4.0000 24.0000 1.0000
146  1.0000   333 25.0000  24.5300  19.5700  79.7800 2.9000 15.0000 1.0000
147  1.0000   533 22.0000  31.3600  19.4900  62.1500 2.5000 11.0000 0.0000
148  1.0000    53  9.0000  25.0000  50.0000 200.0000 2.2000  4.5000 0.0000
149  1.0000  1140 21.0000  26.0000  10.0000  38.4600 3.7000 21.0000 1.0000
150  1.0000   553 17.0000  19.4000  20.1500 103.8700 2.5000  8.0000 0.0000
151  1.0000  6603 35.0000  14.3000  10.8300  75.7300 3.1000 16.0000 1.0000
152  1.0000    54  6.0000  31.4800  20.3700  64.7100 3.4000 20.0000 1.0000
153  1.0000   217  6.0000  15.9800  26.9400 168.5900 3.0000 12.0000 0.0000
154  1.0000   252  2.0000  90.3800  42.2600  46.7600 4.2000 26.0000 1.0000
155  1.0000  1169 37.0000  24.6900  30.4900 123.4900 2.7000  8.0000 0.0000
156  4.0000  1885 55.0000  20.1800  19.8000  98.1200 2.4000  6.5000 0.0000
157  4.0000   117 25.0000  44.8600  38.3200  85.4200 2.7000  8.0000 0.0000
158  4.0000    83 24.0000  11.9000  13.1000 110.0800 2.5000  7.0000 0.0000
159  4.0000   197 27.0000  40.8000  20.6900  50.7100 2.8000 16.0000 1.0000
160  4.0000    78 22.0000  30.7700  32.0500 104.1600 2.5000  8.0000 0.0000
161  4.0000   237 26.0000  12.3500  21.8100 176.6000 1.9000  4.5000 0.0000
162  4.0000   222 22.0000  18.9400  23.7900 125.6100 2.8000 12.0000 0.0000
163  4.0000   242 12.0000  22.0800  30.8300 139.6300 2.2000  4.5000 0.0000
164  4.0000   120 23.0000  39.7800  15.0500  37.8300 3.0000 16.0000 1.0000
165  4.0000    27 22.0000  28.1300  12.5000  44.4400 2.1000  8.5000 0.0000
166  4.0000   131 23.0000   9.1600   6.8700  75.0000 2.8000 15.0000 1.0000
167  4.0000   111 19.0000  36.8400  20.0000  54.2900 3.2000 16.0000 1.0000
168  4.0000   187 29.0000  48.3100  43.8200  90.7100 3.3000 18.0000 1.0000
169  4.0000    36 33.0000   8.8200  23.5300 266.7800 2.2000  5.5000 0.0000
170  4.0000   115 27.0000   8.7700   5.2600  59.9800 2.2000  8.5000 0.0000
171  4.0000  1686 45.0000   7.2500   8.0000 110.3400 3.7000 18.0000 1.0000
172  4.0000   193 25.0000  80.6100  70.9200  87.9800 2.5000  8.0000 0.0000
173  4.0000    25  6.0000  42.3100  84.6200 200.0000 3.0000 12.0000 0.0000

In [97]:
X = df.drop(columns=['추천','업력'])
Y = df['추천']

# x_train, x_test 데이터 생성
x_train, x_test, y_train, y_test  = train_test_split(X, Y, test_size=0.2, stratify= Y, random_state=0)

x_train.shape, y_train.shape, x_test.shape

((139, 7), (139,), (35, 7))

In [98]:
scaler = RobustScaler()

x_train = pd.DataFrame(scaler.fit_transform(x_train),columns=x_train.columns)
x_test = pd.DataFrame(scaler.transform(x_test),columns=x_test.columns)

x_train.describe().T

          count    mean    std     min     25%    50%    75%     max
기업구분코드 139.0000 -0.1439 0.6763 -2.0000  0.0000 0.0000 0.0000  1.0000
사원수    139.0000  1.1318 5.4492 -0.4239 -0.2609 0.0000 0.7391 52.0543
입사율(%) 139.0000  0.3910 1.0782 -0.6231 -0.2482 0.0000 0.7518  6.0833
퇴사율(%) 139.0000  0.3846 1.3178 -0.9525 -0.3364 0.0000 0.6636  8.3166
이직율(%) 139.0000  0.2679 1.2747 -1.3136 -0.3871 0.0000 0.6129  7.7938
별점     139.0000  0.1458 0.8593 -2.2667 -0.3333 0.0000 0.6667  2.6667
가중치    139.0000  0.2046 0.7541 -0.8125 -0.3750 0.0000 0.6250  1.8750

In [99]:
# train score, test score, roc_auc_score 
def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred = model.predict(xtest)
    C = roc_auc_score(ytest, ypred)  
    return '{:.4f} {:.4f} {:.4f}'.format(A, B, C)
# 모델선택 
def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression(max_iter=1000).fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))
    for k in range(1, 10):
        model2 = KNeighborsClassifier(k).fit(xtrain, ytrain)
        print('model2', k, get_scores(model2, xtrain, xtest, ytrain, ytest))

    # overfitting
    model3 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model3 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting
    model4 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model4 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model4', d, get_scores(model4, xtrain, xtest, ytrain, ytest))

    model5 = XGBClassifier(eval_metric='logloss', use_label_encoder=False).fit(xtrain, ytrain)
    print('model5', get_scores(model5, xtrain, xtest, ytrain, ytest))

In [100]:
#성능평가 
def get_other_scores(model, xtest, ytest):
    y_pred = model.predict(xtest)
    accuracy = accuracy_score(ytest, y_pred)
    precision = precision_score(ytest, y_pred)
    recall = recall_score(ytest, y_pred)
    f1 = f1_score(ytest, y_pred)
    print(f'accuracy  : {accuracy:.4f}')
    print(f'precision : {precision:.4f}')
    print(f'recall    : {recall:.4f}')
    print(f'f1        : {f1:.4f}')

In [101]:
make_models(x_train,x_test,y_train,y_test)

model1 0.9856 0.9714 0.9762
model2 1 1.0000 0.9429 0.9405
model2 2 0.9424 0.8571 0.8214
model2 3 0.9568 0.8571 0.8333
model2 4 0.9353 0.8286 0.7857
model2 5 0.9424 0.8857 0.8690
model2 6 0.9137 0.8857 0.8571
model2 7 0.9137 0.8571 0.8333
model2 8 0.8921 0.8857 0.8571
model2 9 0.8921 0.8857 0.8690
model3 1.0000 1.0000 1.0000
model3 3 1.0000 1.0000 1.0000
model3 4 1.0000 1.0000 1.0000
model3 5 1.0000 1.0000 1.0000
model3 6 1.0000 1.0000 1.0000
model3 7 1.0000 1.0000 1.0000
model4 1.0000 1.0000 1.0000
model4 3 1.0000 1.0000 1.0000
model4 4 1.0000 1.0000 1.0000
model4 5 1.0000 1.0000 1.0000
model4 6 1.0000 1.0000 1.0000
model4 7 1.0000 1.0000 1.0000
model5 1.0000 1.0000 1.0000

In [10]:
# model1 = LogisticRegression(max_iter=1000).fit(x_train, y_train)
# model2 = KNeighborsClassifier(8).fit(x_train, y_train)

In [102]:
model = LogisticRegression(max_iter=1000).fit(x_train, y_train)
print(get_scores(model, x_train, x_test, y_train, y_test))  # train score, test score, roc_auc_score 
get_other_scores(model,x_test,y_test)

0.9856 0.9714 0.9762
accuracy  : 0.9714
precision : 0.9333
recall    : 1.0000
f1        : 0.9655

In [103]:
y_pred = model.predict(x_test)
label=['비추천', '추천']
a = confusion_matrix(y_test, y_pred)
b = pd.DataFrame(a, columns=label, index=label)
b

     비추천  추천
비추천   20   1
추천     0  14

In [104]:
model = KNeighborsClassifier(8).fit(x_train, y_train)
print(get_scores(model, x_train, x_test, y_train, y_test))  # train score, test score, roc_auc_score 
get_other_scores(model,x_test,y_test)

0.8921 0.8857 0.8571
accuracy  : 0.8857
precision : 1.0000
recall    : 0.7143
f1        : 0.8333

In [105]:
y_pred = model.predict(x_test)
label=['비추천', '추천']
a = confusion_matrix(y_test, y_pred)
b = pd.DataFrame(a, columns=label, index=label)
b

     비추천  추천
비추천   21   0
추천     4  10