In [1]:
import pandas as pd
import numpy as np

In [2]:
corp = pd.read_csv('221228_corporations.csv', encoding = 'utf-8')
corp.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,기업명,기업구분,사원수,설립일(업력),홈페이지,지역,별점,입사율,퇴사율
0,0,0,1,동아출판(주),"중견기업, 외부감사법인",283 명 (2022년 기준),2008년 10월 1일 (업력 14년),www.dongapublishing.com,서울 영등포구,2.5,27.18 % (78 명),25.09 % (72 명)
1,1,1,2,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",52 명 (2022년 기준),2018년 2월 28일 (업력 4년),passorder.co.kr,부산 부산진구,4.3,114.71 % (39 명),64.71 % (22 명)
2,2,46,47,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",0,0,passorder.co.kr,부산 부산진구,4.3,114.71 % (39 명),64.71 % (22 명)
3,3,261,262,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",0,0,passorder.co.kr,부산 부산진구,4.3,114.71 % (39 명),64.71 % (22 명)
4,4,331,332,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",0,0,passorder.co.kr,부산 부산진구,4.3,114.71 % (39 명),64.71 % (22 명)

In [3]:
corp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  339 non-null    int64
 1   Unnamed: 0.1  339 non-null    int64
 2   Unnamed: 0    339 non-null    int64
 3   기업명           339 non-null    object
 4   기업구분          329 non-null    object
 5   사원수           339 non-null    object
 6   설립일(업력)       339 non-null    object
 7   홈페이지          297 non-null    object
 8   지역            339 non-null    object
 9   별점            277 non-null    float64
 10  입사율           273 non-null    object
 11  퇴사율           273 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 31.9+ KB

In [5]:
len(corp['기업명'].unique())

236

In [7]:
corp['사원수'].value_counts()
# 0이 결측치인 경우

0                    165
133 명  (2022년 기준)      6
32 명  (2022년 기준)       4
900 명  (2022년 기준)      4
27 명  (2022년 기준)       4
                    ...
26 명  (2018년 기준)       1
297 명  (2022년 기준)      1
242 명  (2021년 기준)      1
78 명  (2021년 기준)       1
12 명  (2017년 기준)       1
Name: 사원수, Length: 114, dtype: int64

In [8]:
corp['설립일(업력)'].value_counts()
# 0이 결측치인 경우

0                          138
2006년 10월 2일 (업력 16년)        6
2018년 6월 19일 (업력 4년)         5
2022년 2월 4일 (업력 0년)          4
2015년 7월 1일 (업력 7년)          4
                          ...
2009년 11월 17일 (업력 13년)       1
2010년 5월 20일 (업력 12년)        1
2013년 10월 22일 (업력 9년)        1
2021년 3월 12일 (업력 1년)         1
2002년 4월 25일 (업력 20년)        1
Name: 설립일(업력), Length: 140, dtype: int64

In [10]:
corp.columns

corp.drop(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
corp

,기업명,기업구분,사원수,설립일(업력),홈페이지,지역,별점,입사율,퇴사율
0,동아출판(주),"중견기업, 외부감사법인",283 명 (2022년 기준),2008년 10월 1일 (업력 14년),www.dongapublishing.com,서울 영등포구,2.5,27.18 % (78 명),25.09 % (72 명)
1,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",52 명 (2022년 기준),2018년 2월 28일 (업력 4년),passorder.co.kr,부산 부산진구,4.3,114.71 % (39 명),64.71 % (22 명)
2,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",0,0,passorder.co.kr,부산 부산진구,4.3,114.71 % (39 명),64.71 % (22 명)
3,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",0,0,passorder.co.kr,부산 부산진구,4.3,114.71 % (39 명),64.71 % (22 명)
4,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",0,0,passorder.co.kr,부산 부산진구,4.3,114.71 % (39 명),64.71 % (22 명)
...,...,...,...,...,...,...,...,...,...
334,스타법무법인,중소기업,0,2022년 4월 6일 (업력 0년),www.star-law.com/08_career/,대구 중구,2.5,NaN,NaN
335,(주)이루온아이앤에스,"중소기업, 주식회사",0,0,www.eluonins.com,경기 성남시,3.3,43.10 % (25 명),44.83 % (26 명)
336,(주)인실리코젠,"중소기업, 주식회사, 병역특례 인증업체",0,0,insilicogen.com,경기 용인시,2.7,42.86 % (21 명),20.41 % (10 명)
337,주식회사 아이디케이,"중소기업, 주식회사",0,0,NaN,대전 유성구,NaN,88.89 % (16 명),72.22 % (13 명)
338,(주)아인스텍,"중소기업, 주식회사",12 명 (2017년 기준),2002년 4월 25일 (업력 20년),www.einstek.com,경기 고양시,2.5,NaN,NaN

### 데이터 전처리 참고사항

**1. 빠진 정보 처리 방식**
- 재환 [기업명~지역]: 사원수, 설립일 '0' 
- 민영 [별점, 입사율, 퇴사율]: 결측치 처리 NaN


**2. 중복되는 기업명 있음**

**3. 기업정보 확인 필요**
- 씨큐웍스 대전 -> (주)씨큐웍스
- (주)국동
- (주)더컴퍼니

**4. 기업명 참고사항**
- 주식회사 OOOO -> (주)OOOO or OOOO(주): 이렇게 해야 NICE / 잡플래닛에서 검색됨
- (주)의 경우에도 ( + 주 + )로 된 경우와 특수문자 ㈜